{
	"extends": "@aptoma/eslint-config",
	"parserOptions": {
		"ecmaVersion": 2017
	},
	"env": {
		"node": true,
		"mocha": true,
		"es6": false
	},
	"rules": {
		"object-curly-spacing": [2, "always"],
		"complexity": ["error", 20]
	}
}
